APP_ENV=development
APP_DEBUG=true
APP_URL=http://localhost/wolfstreet77
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=wolf
DB_USERNAME=root
DB_PASSWORD=
CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

